<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- FLEX -->
<div class="flex gap-4 mb-4">
  <div class="bg-blue-400 w-24 h-12">1</div>
  <div class="bg-green-400 w-24 h-12">2</div>
</div>

<!-- INLINE-FLEX -->
<div class="inline-flex gap-2 bg-gray-200 p-2">
  <div class="bg-pink-400 w-20 h-10">A</div>
  <div class="bg-purple-400 w-20 h-10">B</div>
</div>

<!-- GRID -->
<div class="grid grid-cols-3 gap-2 mt-4">
  <div class="bg-red-300 p-2">Grid 1</div>
  <div class="bg-blue-300 p-2">Grid 2</div>
  <div class="bg-green-300 p-2">Grid 3</div>
</div>

<!-- INLINE-GRID -->
<div class="inline-grid grid-cols-2 gap-1 bg-gray-100 p-2 mt-2">
  <div class="bg-yellow-300 p-2">X</div>
  <div class="bg-pink-300 p-2">Y</div>
</div>

</body>
</html>