<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- This is visible -->
<p class="text-black">Visible text</p>

<!-- sr-only: not visible but readable by screen readers -->
<p class="sr-only">Screen reader only text</p>

<!-- not-sr-only: resets the sr-only -->
<p class="not-sr-only">Visible again</p>

</body>
</html>